:root {
  --text-color: black;
  --background-color: #e0f7fa;
  --container-color: white;
  --container-shadow-color: #0000001a;
  --container-primary-color: #00796b;
  --container-secondary-color: #004d40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: #282727;
    --container-color: #171717;
    --container-shadow-color: #7171711a;
    --container-primary-color: #47bfb1;
    --container-secondary-color: #1eaa93;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html {
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: content-box;
}

div.weather-container {
  background-color: var(--container-color);
  border-radius: 15px;
  padding: 30px;
  width: 350px;
  box-shadow: 0 8px 16px var(--container-shadow-color);
  text-align: center;
}

h1.weather-header {
  font-size: 24px;
  color: var(--container-primary-color);
  margin-bottom: 20px;
}

h2.weather-location {
  font-size: 20px;
  color: var(--container-secondary-color);
  margin-bottom: 10px;
}

div.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--container-primary-color);
}

img.weather-icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

div.weather-details h1 {
  font-size: 48px;
  color: var(--container-primary-color);
  margin-bottom: 10px;
}

div.weather-details h3 {
  font-size: 18px;
  color: var(--container-secondary-color);
}

div.weather-extra {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

div.weather-extra h4 {
  font-size: 16px;
  color: var(--container-primary-color);
}
