:root {
  --text-color: black;
  --background-color: #e0f7fa;
  --container-color: white;
  --container-shadow-color: #0000001a;
  --container-primary-color: #00796b;
  --container-secondary-color: #004d40;
  --sun-color: #dfb056;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: #282727;
    --container-color: #171717;
    --container-shadow-color: #7171711a;
    --container-primary-color: #47bfb1;
    --container-secondary-color: #1eaa93;
    --sun-color: #ffa700;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html {
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: content-box;
}

div.weather-container {
  background-color: var(--container-color);
  border-radius: 0.938rem;
  padding: 1.875rem;
  width: 75rem;
  height: 42rem;
  box-shadow: 0 8px 1rem var(--container-shadow-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1.weather-header {
  font-size: 1.5rem;
  color: var(--container-primary-color);
  margin-bottom: 1.25rem;
}

h2.weather-location {
  font-size: 1.25rem;
  color: var(--container-secondary-color);
  margin-bottom: 0.625rem;
}

div.weather-info {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--container-primary-color);
}

svg.weather-icon {
  color: var(--sun-color);
  width: 6.25rem;
  height: 6.25rem;
  margin-right: 1.25rem;
}

div.weather-details {
  h1 {
    font-size: 3rem;
    color: var(--container-primary-color);
    margin-bottom: 0.625rem;
  }

  h3 {
    font-size: 1.125rem;
    color: var(--container-secondary-color);
  }
}

div.weather-extra {
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 1rem;
    color: var(--container-primary-color);
  }
}
