:root {
  --text-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;
  }
}

body {
  background-color: var(--background-color);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
b {
  color: var(--text-color);
}
