/* line 1, static/css/style.scss */
:root {
  --text-color: black;
  --background-color: white; }

@media (prefers-color-scheme: dark) {
  /* line 7, static/css/style.scss */
  :root {
    --text-color: white;
    --background-color: black; } }

/* line 13, static/css/style.scss */
body {
  background-color: var(--background-color); }

/* line 17, static/css/style.scss */
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
b {
  color: var(--text-color); }
